###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# This attribute sets a specific line-ending style to be used in the working
# directory. It enables end-of-line conversion without any content checks,
# effectively setting the text attribute.
# This setting forces Git to normalize line endings for this file on checkin
# and convert them to CRLF when the file is checked out.
# whitespace attribute will help detect surplus spaces when using git diff
###############################################################################
*.ps1       text eol=crlf whitespace=trailing-space,space-before-tab,indent-with-non-tab,tabwidth=1
*.psd1		text eol=crlf whitespace=trailing-space,space-before-tab,indent-with-non-tab,tabwidth=1
*.psm1		text eol=crlf whitespace=trailing-space,space-before-tab,indent-with-non-tab,tabwidth=1
*.txt		text eol=crlf whitespace=trailing-space,space-before-tab,indent-with-non-tab,tabwidth=1
*.xml		text eol=crlf whitespace=trailing-space,space-before-tab,indent-with-non-tab,tabwidth=1
*.ini		text eol=crlf whitespace=trailing-space,space-before-tab,indent-with-non-tab,tabwidth=1
*.json		text eol=crlf whitespace=trailing-space,space-before-tab,indent-with-non-tab,tabwidth=1
*.md		text eol=crlf whitespace=trailing-space,space-before-tab,indent-with-non-tab,tabwidth=1
